.idea/
node_modules/
bak/
coverage/
typings/
!src/rest/public/**/*.js
!src/rest/public/src/coursesHtml.js
!src/rest/public/src/autocomplete.js
src/*.map
src/**/*.map
test/*.js
test/*.map
npm-debug.log
.DS_Store
.hg/
.hgignore
mochawesome-reports/

