<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="./public/bootstrap.min.css">
    <link rel="stylesheet" href="./public/main2.css">
    <script type="text/javascript" src="./public/jquery.min.js"></script>
    <script src="./public/bootstrap.min.js"></script>
    <script src="./public/d3.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="./public/coursesHtml.js"></script>
    <script src="./public/autocomplete.js"></script>
    <script src="./public/main2.js"></script>
</head>

<body>
<h1 id="header1">UBC Insight</h1>

<h2 id="courseExplorerHeader">Course Explorer</h2>
<div id="departmentTitle">Department</div>
<div id="departmentDiv">
    <form id="departmentForm"><input id="departmentInput"></form>
</div>
<div id="sectionTitle">Section</div>
<div id ="sectionDiv">
    <form id="sectionForm"><input id="sectionInput"></form>

</div>
<div id="instructorTitle">Instructor</div>
<div id ="instructorDiv">
    <form id="instructorForm"><input id="instructorInput"></form>
    </div>
<form id="queryForm">
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="render">
    <h3>Result</h3>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>